<app-header></app-header>
<div class="wrapper d-center-horizontal">
    <div class="wrapper-step ">
      <div class="animate__animated animate__fadeIn">
          <app-info-image></app-info-image>
      </div>
      <div class="animate__animated animate__bounceIn">
          <app-img-ai></app-img-ai>
      </div>
      <div class="animate__animated animate__fadeIn">
          <app-embedvideo source="https://www.youtube.com/watch?v=x3sa9Sce8do"></app-embedvideo>
      </div>
    </div>
</div>
<app-footer></app-footer>